// Navigation Styles here

header {
    //width: 50%;
    nav {
        // border: 2px solid red;
        .display-flex(center, center);
        background-color: rgba(255, 255, 255, 0.6);
        height: 80px;
        position: fixed; 
        top: 0;
        width: 100%;
        a {
            font-size: 3.2rem;
            text-decoration: none;
            .margin-padding(1%, 1%);
            // height: 4.2rem;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        a:hover {
            color: purple;
        }
    }
}