

@tablet: ~"(max-width: 1000px)";
@tablet-width: 1000px;

//Images on the home page looked very awkward so I upped the mobile width to 700px to remove the images.
@mobile: ~"(max-width: 700px)";
@mobile-width: 700px;